img {
  display: none;
}
#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}


.yellow-background {
  background-color: yellow;
}
.red-background {
  background-color: red;
}
.green-background {
  background-color: green;
}

#letter {
  display: none;
}

.parrot {
  text-transform: uppercase;
}
